        <p>
            Footer copyright text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae illum dolore modi minima facere nihil delectus architecto. Assumenda mollitia sapiente magni, cupiditate vero accusamus nemo, illum enim architecto, adipisci nam!
        </p>
    </body>
</html>