<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <title>Restaurant</title>
    </head>
    <body>
        <div class="ui menu">
            <div class="header item">
                <i class="utensils icon"></i> Restaurant
            </div>
            <a class="item" href="/">
                Home
            </a>
            <a class="item" href="/menu">
                Menu
            </a>
            <a class="item" href="/reviews">
                Reviews
            </a>
            <a class="item" href="bestellig">
                Bestellingen
            </a>
            <a class="item" href="/blog">
                Blog
            </a>
        </div>        
