<% include partials/header %>

    <header>
        <h1>Landing page, hier komt de welkomst pagina van het resaurant!</h1>
    </header>
    <div>
        <div>
            <h3>Over</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Labore quaerat laboriosam vero autem atque recusandae dicta quis reiciendis ab laudantium suscipit eaque repellat exercitationem, impedit placeat harum adipisci praesentium iure corrupti? 
                Et accusantium voluptatum molestiae, laboriosam cupiditate excepturi saepe perspiciatis fugiat nam exercitationem praesentium dolorem recusandae maiores, provident sed aut repellat nihil natus beatae pariatur delectus quos doloremque. 
                Exercitationem, consectetur.
            </p>
        </div>
        <div>
            <p>
                Hier komen een aantal menu items
            </p>
        </div>
        <div>
            <p>
                Hier komen een aantal reviews.
            </p>
        </div>
        <div>
            <p>
                Hier komt de nieuwste blogpost.
            </p>
        </div>
    </div>

<% include partials/footer %>