<% include partials/header %>

<div>
    <header>
        <h1>Menu</h1>
    </header>
    <div>
        <h2>Soepen</h2>
        
        <h2>voorgerechten</h2>
        
        <h2>Hoofd gerechten</h2>
        
        <h2>Desserts</h2>
        
        <h2>Wijnen</h2>
        
        <h2>Dranken</h2>
    </div>
</div>


<% include partials/footer %>