<% include partials/header %>

    <div>
        <header>
            <h1>Nieuw menu item</h1>
        </header>
        <div>
            <form action="/menu" method="post">
                <p>
                    <input name="gang" type="radio" id="soepen">
                    <label for="soepen">
                        Soep
                    </label>
                    <input name="gang" type="radio" id="voorgerechten">
                    <label for="voorgerechten">
                        Voorgerecht
                    </label>
                    <input name="gang" type="radio" id="hoofdgerechten">
                    <label for="hoofdgerechten">
                        Hoofdgerecht
                    </label>
                    <input name="gang" type="radio" id="dessert">
                    <label for="dessert">
                        Dessert
                    </label>
                    <input name="gang" type="radio" id="wijnen">
                    <label for="wijnen">
                        Wijn
                    </label>
                    <input name="gang" type="radio" id="drinken">
                    <label for="drinken">
                        Drinken
                    </label>
                </p>
                <input type="text" name="naamGerecht" placeholder="naam gerecht"><br>
                <p>
                    €
                    <input type="number" name="prijs" placeholder="prijs">
                </p>
                <p>
                    maximaal bestelbaar:
                </p>
                <input type="number" name="maxbestel" placeholder="0"><br>
                <button type="submit">
                    invoeren
                </button>
            </form>
        </div>
    </div>

<% include partials/footer %>